<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="AgilityPack.Properties.Settings.OddsConnectionString"
            connectionString="Data Source=q-wks-jathan;Initial Catalog=Odds;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="AgilityPack.Properties.Settings.OddsConnectionString1"
            connectionString="Data Source=jathanas\sqlexpress;Initial Catalog=Odds;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>